#entryHolder{
    background-color: #389471;
    color: #FFF;
    font-size: 1.3rem;
    padding: 10px;
    margin: 10px 0;
    max-width: 400px;
    border-radius: 10px;
}
h1{
    max-width: 200px;
    background-color: #EEE;
    border-radius: 10px;
    padding: 10px;
}
#feelings{
    display: block;
    margin: 10px 0pc;
}
#zip{
    display: block;
}
.wrapper{
    display: block;
}
.wrapper div{
    display: inline-block;
}
span{
    color: #DDD;
}